<div class="container" >
    <div class="d-flex justify-content-center pt-5">
        <div class="card text-white bg-secondary mb-3 col-6" style=" align-self: center">         
            <h4>UPDATE QUESTION</h4>
            <form #updateQuestionForm=ngForm (ngSubmit)=updateQuestion(updateQuestionForm)>
                <div class="form-group">
                    <label>Question Id</label>
                    <input type="number" name="questionId" #questionIdCtrl=ngModel ngModel class="form-control">
                </div>
                <div *ngIf="questionIdCtrl.errors!==null &&  questionIdCtrl.errors.required" class="error">
                    required field
                </div>
                <div class="form-group">
                    <label>Question Options</label>
                    <input type="text" name="questionOptions" #questionOptionsCtrl=ngModel ngModel class="form-control">
                </div>
                <div *ngIf="questionOptionsCtrl.errors!==null &&  questionOptionsCtrl.errors.required" class="error">
                    required field
                </div>
                <div *ngIf="questionOptionsCtrl.errors!=null && questionOptionsCtrl.errors.minlength" class="error">
                    minlength is 3
                </div>
                <div class="form-group">
                    <label>Question Title</label>
                    <input type="text" name="questionTitle" ngModel class="form-control">
                </div>
                <div class="form-group">
                    <label>Question Answer</label>
                    <input type="number" name="questionAnswer" ngModel class="form-control">
                </div>
                <div class="form-group">
                    <label>Question Marks</label>
                    <input type="number" name="questionMarks" ngModel class="form-control">
                </div>
                <div class="form-group">
                    <label>Chosen Answer</label>
                    <input type="number" name="chosenAnswer" ngModel class="form-control">
                </div>
                <div class="form-group">
                    <label>Marks Scored</label>
                    <input type="number" name="marksScored" ngModel class="form-control">
                </div>
                <input type="submit" value="SUBMIT" class="btn btn-success mb-4">
            </form>
        </div>
    </div>
</div>
<br>
Updated Question is {{question.questionId}}  {{question.questionOptions}} {{question.questionTitle}}
{{question.questionAnswer}} {{question.questionMarks}} {{question.chosenAnswer}} {{question.marksScored}}